{% extends 'base.html' %}

{% block cambio %}
<h1>Soy José David Marín Benavides</h1>
<hr>
<h2>Me gusta la naturaleza, la tecnología y la música por lo que este blog se trata de todo un poco</h2>

<hr>
<h3>Acutalmente...</h3>
<h6>...trabajo en una agencia de publicidad, en la cual he
aprendido demasiado y aún sigo aprendiendo.</h6>
<h6>Llevo en la universidad Ingeniería Informática, trabajo como analista de datos
y este proyecto web se que es de gran impacto para mi crecimiento.
</h6>

<h3>Diviertanse aquí y sean ustedes. BYEE!</h3>
{% endblock %}