{% extends 'base.html' %}

{% block cambio %}
<div>
    <form action="/app/BuscaCurso" method = "GET">

        <input type="text" name="nombre">

        <input type="submit" value = "Buscar">

    </form>
</div>

<p>
   <h2> <a href="{% url 'CursoCreate' %}">Crear curso</a> </h2>
</p>

     {% for curso in object_list %}
        <h2>{{curso.nombre}}</h2>>
        <p class="lead mb-0">
            Numero de camada {{curso.camada}}
        </p>
        <p>
            <a href="{% url 'CursoDetail' curso.id %}">Detalles</a>
        </p>
        <p>
            <a href="{% url 'CursoEditar' curso.id %}">Editar</a>
        </p>
        <p>
            <a href="{% url 'CursoEliminar' curso.id %}">Eliminar</a>
        </p>

        <h6>El curso es {{curso.nombre}} con numero de camada {{curso.camada}} </h6>
        <hr>
    {% endfor %}

{% endblock %}


